
.detail-image {
  width: 729px;
  height: 742px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  bottom: -2em;
}

.right-arrow {
  left: 45%;
}

.left-arrow {
  right: 45%;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:1200px) {

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }
  
  .right-arrow {
    left: 30%;
  }

  .left-arrow {
    right: 30%;
  }

  .detail-image {
    width: 300px;
    height: 300px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

